/* OpenDyslexic Font Import */
@font-face {
  font-family: 'OpenDyslexic';
  src: url('./fonts/open_dyslexic/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('./fonts/open_dyslexic/OpenDyslexic-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('./fonts/open_dyslexic/OpenDyslexic-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('./fonts/open_dyslexic/OpenDyslexic-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
} 